.container {
  max-width: unset;
}

.navlink {
  text-decoration: none;
  color: rgba(255, 255, 255, .55);;
  transition: 0.3s;
}

.navlink:hover {
  color: rgba(255, 255, 255, .75);

}

.btn {
  margin-right: 15px;
}